@import "./reset.scss";

$body: #334155;
$shadow: " 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);";

button {
  border: none;
  background: none;
}

#body {
  display: flex;
  justify-content: center;
  background-color: $body;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1200px;
  padding: 50px;
}

.noteHeadingWrapper {
  display: flex;
  align-items: center;

  #add_note {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    opacity: 0.75;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.heading {
  &--main {
    font-weight: 900;
    font-size: 2rem;
  }
  &--section {
    font-weight: 700;
    font-size: 1.75rem;
  }
  &--note {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px;
    max-width: 90%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

#pinned {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.notesWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: "row";
  gap: 15px;
  padding: 20px 0;
}

.removeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 0.75rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  color: white;
  transition: filter 200ms;
  filter: grayscale(1);
  cursor: pointer;

  &:hover {
    filter: grayscale(0);
  }
}

.note {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: $shadow;
  color: black;
  padding: 20px 15px;
  border-radius: 3px;
  font-weight: 500;
  position: relative;

  .pinButton {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 5px;

    svg {
      width: 24px;
      height: 24px;
      fill: none;
    }

    &:hover {
      svg {
        fill: #000;
        opacity: 0.5;
      }
    }

    &.pinned {
      svg {
        width: 24px;
        height: 24px;
        fill: #000;
      }
      &:hover {
        svg {
          opacity: 0.5;
        }
      }
    }
  }

  .removeButton {
    @extend .removeButton;
    position: absolute;
    left: -12px;
    top: -12px;
  }

  .content {
    padding-bottom: 20px;
    line-height: 1.125rem;
  }

  .info {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: gray;
    font-size: 0.75rem;
  }
}

.modalWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
}

.modal {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  opacity: 1;
  border-radius: 10px;
  position: relative;

  .closeButton {
    @extend .removeButton;
    position: absolute;
    right: 12px;
    top: 12px;
  }
}
