/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
}

#body {
  display: flex;
  justify-content: center;
  background-color: #334155;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1200px;
  padding: 50px;
}

.noteHeadingWrapper {
  display: flex;
  align-items: center;
}
.noteHeadingWrapper #add_note {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  opacity: 0.75;
  cursor: pointer;
}
.noteHeadingWrapper #add_note:hover {
  opacity: 1;
}

.heading--main {
  font-weight: 900;
  font-size: 2rem;
}
.heading--section {
  font-weight: 700;
  font-size: 1.75rem;
}
.heading--note {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 12px;
  max-width: 90%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pinned {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.notesWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: row;
  gap: 15px;
  padding: 20px 0;
  align-items: flex-start;
}

.removeButton, .modal .closeButton, .note .removeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 0.75rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  color: white;
  transition: filter 200ms;
  filter: grayscale(1);
  cursor: pointer;
}
.removeButton:hover, .modal .closeButton:hover {
  filter: grayscale(0);
}

.note {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: " 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);";
  color: black;
  padding: 20px 15px;
  border-radius: 3px;
  font-weight: 500;
  position: relative;
}
.note .pinButton {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 5px;
}
.note .pinButton svg {
  width: 24px;
  height: 24px;
  fill: none;
}
.note .pinButton:hover svg {
  fill: #000;
  opacity: 0.5;
}
.note .pinButton.pinned svg {
  width: 24px;
  height: 24px;
  fill: #000;
}
.note .pinButton.pinned:hover svg {
  opacity: 0.5;
}
.note .removeButton, .note .modal .closeButton, .modal .note .closeButton {
  position: absolute;
  left: -12px;
  top: -12px;
}
.note .content {
  padding-bottom: 20px;
  line-height: 1.125rem;
  word-break: break-all;
}
.note .info {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: gray;
  font-size: 0.75rem;
}

.modalWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalWrapper.hidden {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 45px 50px 20px 50px;
  background-color: #fff;
  opacity: 1;
  border-radius: 10px;
  position: relative;
}
.modal .closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
}
.modal #note_form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal #note_form .form_field {
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 1rem;
  width: 100%;
}
.modal #note_form textarea {
  height: 150px;
  font-family: "Lato";
}
.modal #note_form button {
  display: inline-flex;
  text-transform: uppercase;
  background-color: #4338ca;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  box-shadow: " 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);";
  opacity: 0.5;
  cursor: pointer;
}
.modal #note_form button:hover {
  opacity: 1;
}
.modal #note_form #colorPicker {
  margin-bottom: 16px;
}

/*# sourceMappingURL=index.css.map */
