#main{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

#controlsWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.control{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    align-items: center;
    background-color:dodgerblue;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 100ms;
    border-radius: 7px;
}

.control:active, .control--active{
    transform: scale(0.85)!important;
}

.control:hover{
    transform: scale(1.05);
}

.control .audioKey{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
}

.control .audioName{
    margin-top: 10px;
    color: lightgray;
}

#tracksWrapper{
    margin-top: 75px;
}

.trackWrapper{
    display: flex;
    align-items: baseline;
}

.track{
    display: flex;
    width: 100%;
    height: 3px;
    background: gray;
    border-radius: 5px;
    margin: 30px 0;
}

.controlsWrapper{
    display: flex;
}

.muteIcon{
    content: url("./assets/icons/mute.svg");
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    color: red;
    margin: auto 15px;
    opacity: 25%;
    transition: 200ms opacity;
    cursor: pointer;
}

.muteIcon--muted{
    opacity: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    transition: all 200ms;
    color: white;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.button:active {
    opacity: 75%;
}

.playButton {
    background-color: dodgerblue;
}

.recordButton{
    background-color: red;
    opacity: 50%;
}

.recordButton--recording{
    opacity: 100%;
}

#playAll{
    margin: 20px auto;
    background-color: green;
}